<div class="main-content">
    <div class="reset-container">
        <img src="assets/img/arrow_back.png" class="go-back" (click)="goBack()">
        <div class="container-header">
            <div class="logo"><img src="/assets/img/Logo.png" alt=""></div>
            <div class="headline">
                <p>Here you can reset your password.</p>
            </div>
        </div>
            <form (ngSubmit)="pwReset(form)" #form="ngForm">
                    <input name="email" ngModel required #email="ngModel" type="email" class="input-email"
                    placeholder="Your email address ...">
                    @if (!email.valid && email.touched) {
                        <div class="invalid-email">
                            <p>*This email is invalid !</p>
                        </div>
                    }
                <button [disabled]="!form.valid ">Reset password</button>
            </form>
    </div>
</div>