.header {
  display: flex;
  align-items: center;
  justify-content: space-around;
  position: fixed;
  height: 100px;
  width: 100%;
  background-color: black;
  font-family: "Figtree";
  color: white;
  font-size: 24px;
  z-index: 1;
}

.logout {
  text-align: center;
  position: relative;
  cursor: pointer;
  display: flex;

  &::after {
    content: "";
    position: absolute;
    bottom: -2px;
    left: 0;
    height: 3px;
    width: 0;
    background: red;
    transition: width 0.3s ease-in-out;
  }

  &:hover::after {
    width: 100%;
  }
}

@media (max-width: 550px) {
  .logout-text {
    display: none;
  }
}