.main-content {
  background-color: black;
  width: 100vw;
  height: 100vh;
  font-family: "Figtree";
  position: relative;

  .reset-container {
    width: 800px;
    display: flex;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: black;
    color: white;
    flex-direction: column;
    border: 2px solid white;
    border-radius: 30px;
  }
}

form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;


  .input-email {
    border-radius: 30px;
    padding: 20px 10px 20px 50px;
    width: 60%;
    height: 20px;
    background-image: url('/assets/img/mail.png');
    background-repeat: no-repeat;
    background-position: 20px 50%;
    cursor: pointer;

    &:focus {
      border:2px solid red;
      outline: none;
    }


  }
  .invalid-email {
    color: red;
    width: 60%;
    p {
      margin: 0;
    }
  }
}

.container-header {

  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-right: 20px;
  font-weight: 600;

  .headline {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 24px;
    font-weight: 700px;
  }
}

button {
  padding: 10px 10px 10px 10px;
  border-radius: 10px;
  width: 150px;
  margin-bottom: 10px;
  cursor: pointer;

  &:hover:valid {
    background-color: red;
    color: white;
  }
}


form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;


  .input-email, .input-email-signin {
    border-radius: 30px;
    padding: 20px 10px 20px 50px;
    width: 60%;
    height: 20px;
    background-image: url('/assets/img/mail.png');
    background-repeat: no-repeat;
    background-position: 20px 50%;
    cursor: pointer;

    &:focus {
      border: 2px solid red;
      outline: none;
    }


  }

  .invalid-email, .input-signin {
    color: red;
    width: 60%;

    p {
      margin: 0;
    }
  }

  .input-password, .input-pw-signin, .input-name-signin {
    border-radius: 30px;
    padding: 20px 10px 20px 50px;
    width: 60%;
    background-image: url('/assets/img/lock.png');
    background-repeat: no-repeat;
    background-position: 20px 50%;
    cursor: pointer;

    &:focus {
      border: 2px solid red;
      outline: none;
    }

  }

  .invalid-password, .invalid-input-signin {
    color: red;
    width: 60%;

    p {
      margin: 0;
    }
  }
  .valid-password {
    border: 2px solid green !important;
  }
}