<div class="main-content">
    <div class="reset-container">
        <div class="container-header">
            <div class="logo"><img src="/assets/img/Logo.png" alt=""></div>
            <div class="headline">
                <p>Forgot your password ? No worries. Here you can generate a new one.</p>
            </div>
        </div>
        <form (ngSubmit)="pwConfirm(form)" #form="ngForm">
            <input type="password" required placeholder="Passwort" id="password" name="userPassword" ngModel
                   #userPassword="ngModel" class="input-pw-signin input-fields-signin"
                   pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*[0-9])(?=.*[!@#$%^&*_=+\-]).{8,16}" minlength="8" />
            <div *ngIf="userPassword.invalid && (userPassword.dirty || userPassword.touched)" class="invalid-input-signin">
                *Please set your password. At least 8 characters/numbers (at least one lower case letter, one upper case letter,
                one number, and one special character)
            </div>
            <input type="password" required placeholder="Repeat your password" id="password-confirm"
                   name="confirmPassword" ngModel #confirmPassword="ngModel" class="input-pw-signin input-fields-signin"
                   [ngClass]="{'valid-password': checkPassword(userPassword.value, confirmPassword.value) && confirmPassword.dirty}" />
            <div class="btn-container-signin">
                <button [disabled]="!form.valid || !checkPassword(userPassword.value, confirmPassword.value)"
                        class="login-btn-signin">
                    Reset Password
                </button>
            </div>
        </form>
    </div>
</div>