.movie-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  background-color: black;
}

.resolution-box {
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: absolute;
  top: 50px;
  right: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;
  width: 100%;

  label {
    font-family: "figtree";
    color: white;
  }
  .resolution-select {
    padding: 5px 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: rgb(255, 255, 255);
    font-size: 14px;
    color: #333;
    cursor: pointer;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background-image: url('data:image/svg+xml;utf8,<svg fill="none" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg"><path d="M7 10l5 5 5-5H7z" fill="%23333"/></svg>');
    background-repeat: no-repeat;
    background-position: right 1px center;
    background-size: 12px;
  }


  .goBackBtn {
    z-index: 10;

    :hover {
      scale: 1.3;
    }

    img {
      width: 30px;
      height: 30px;
      cursor: pointer;
    }
  }
}

@media (max-width: 900px) {
  .logo-name {
    display: none;
  }
}